.places {
    display: flex;
    font-size: 30px;
    flex-flow:  row wrap;
    justify-content: center;
    height: 30px;
    

}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    justify-content: center;
    height: 579px;
    
}

.places h1 {
    font-size: 30px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 0px;
    flex: 0 1 100%;
}
h2 {
    text-align: center;
    font-size: 30px;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top:-60px;
    left: 318px;
    margin-bottom: -23px;
    text-align: center;
}

.price_by_night p{
    margin: auto;
    padding-top: 13px;
} 
.information {
    display: flex;
    justify-items: center;
    justify-content: center;
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.max_guest {
    background-image: url(../images/icon_group.png);
    background-repeat: no-repeat;
    width: 100px;
    position: relative;
    bottom: 126px;
    left: 19px;

}

.number_rooms {
    background-image: url(../images/icon_bed.png);
    background-repeat: no-repeat;
    width: 100px;
    position: relative;
    bottom: 212px;
    left: 162px;
}
.number_bathrooms {
    background-image: url(../images/icon_bath.png);
    background-repeat: no-repeat;
    width: 100px;
    position: relative;
    bottom: 310px;
    left: 301px;
}
.description{
    position: relative;
    bottom: 200px;
}

.user {
    text-align: left;
    position: relative;
    bottom: 200px;
}

.max_guest p {
    margin-top: 55px;
    margin-left: -50px; 
    position: relative;
    top: 34px;
    left: 35px;
    font-size: 25px;
}
.number_bathrooms p {
    margin-top: 69px;
    margin-left: -150px;
    position: relative;
    top: 35px;
    left: 100px;
    font-size: 25px;
}
 .number_rooms p {
    margin-top: 55px;
    margin-left: -100px;
    position: relative;
    top: 35px;
    left: 73px;
    font-size: 25px;
 }